<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="WSGI_LOG" value="%TEMP%\wfastcgi.log" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="%APPL_PHYSICAL_PATH%\python.exe|%APPL_PHYSICAL_PATH%\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>